ACTION=="add", KERNEL=="mali", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ump", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="exynos-mem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="media2", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video6", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video7", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video11", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video12", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video16", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video20", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video23", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video25", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video27", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video29", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video36", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video37", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="fimg2d", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="i2c-2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="CEC", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="HPD", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="srp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ttySAC0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="unifiudi0", OWNER="wifi", GROUP="wifi", MODE="0666"
ACTION=="add", KERNEL=="video16", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="video17", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video18", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video19", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mobicore", OWNER="drmrpc", GROUP="drmrpc", MODE="0600"
ACTION=="add", KERNEL=="mobicore-user", OWNER="drm", GROUP="drmrpc", MODE="0660"
ACTION=="add", KERNEL=="s5p-smem", OWNER="drm", GROUP="drmrpc", MODE="0660"
ACTION=="add", KERNEL=="umts*", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="dun", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS3", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts_router", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="akm8963", OWNER="system", GROUP="radio", MODE="0600"
ACTION=="add", KERNEL=="accelerometer", OWNER="system", GROUP="radio", MODE="0600"
